<header class="header">
  <div class="header__row container">
    <div class="left"></div>
    <div class="right">
      <div class="burger-menu">
        <a href="" class="burger-menu_button">
          <span class="burger-menu_lines"></span>
        </a>
        <nav class="burger-menu_nav">
          <a href="#" class="burger-menu_link">Home</a>
          <a href="#" class="burger-menu_link">Products</a>
          <a href="#" class="burger-menu_link">Web Designing</a>
          <a href="#" class="burger-menu_link">Customers</a>
          <a href="#" class="burger-menu_link">Contact</a>
          <a href="#" class="burger-menu_link">More</a>
        </nav>
        <div class="burger-menu_overlay"></div>
      </div>
      <div class="content">
        <h1 class="title text__53">Ali Sayed’s <span>Web Designing</span> Project</h1>
        <div class="description text__18">
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore.
          </p>
          <p>
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem
            vel eum iriure dol.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
